<%= decidim_form_for(@form, url: $singular_name$_path, method: :post, html: { class: "form edit_$singular_name$" }) do |form| %>
  <%= render partial: "form", object: form, locals: { title: t(".title") } %>

  <div class="button--double form-general-submit">
    <%= form.submit t(".save") %>
  </div>
<% end %>
